body {
  background-color: white;
}

.App {
  text-align: center;
  overflow-y: hidden; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.propositions-left {
  background-color: white;
  height: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

.propositions-right {
  height: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

.propositions-wrapper {
  background-color: white;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  right: 0;
  bottom: 9%;
  height: 80%;
  width: 37%;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: flex-start;
  padding: 5px;
}

.map-wrapper  {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.button-wrapper {
  position: fixed;
  align-self: flex-end;
  right: 10px;
}

.timer {
  display: flex;
  justify-content: center;
}

.timer-icon {
  position: fixed;
  right: 35px;
}

.stopwatch {
  position: fixed;
  top: 140px;
  right: 10px;
  color: #2196f3;
}

.btn-start-wrapper {
  position: fixed;
  top: 200px;
  right: 30px;
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2196f3;
  border-radius: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .map-wrapper {
    top: 10%;
  }

  .map {
    width: 100%;
    height: auto;  
  }

  .App-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .propositions-wrapper {
    position: fixed;
    overflow-y: scroll;
    right: 0;
    bottom: 0;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: flex-start;
    padding: 5px;
  }

  .timer-icon {
    top: 38%;
    left: -200px;
  }

  .stopwatch {
    top: 50%;
    left: -45px;
  }

  .btn-start-wrapper {
    top: 38%;
    right: 30px;
  }

  .timer{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
